<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TVOS Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F96185C1E42D5650088A5E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F9618751E42D5660088A5E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F9618801E42D5660088A5E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
